.rough-imgs {
    width: 30rem;
    transition: 1.5s;
    transform: rotate(2deg);
    float: left;
    margin: 1% 1% 0.2%;
}

.r-imgs-page {
    float: right;
    transform: rotate(-2deg);
    margin: 1% 2%;
    width: 25rem;
}

.rough-imgs:hover {
    transform: scale(1.3);
}

.r-imgs-page:hover {
    transform: scale(1.2);
}

@media (max-width: 630px) {
    .rough-imgs {
        width: 100%;
        float: none;
    }
    .rough-imgs:hover {
        transform: scale(1.1);
    }
    .r-imgs-page {
        width: 100%;
        float: none;
        display: flex;
    }
}