.middle-container {
    border: 2px dashed black;
}

.column-holder {
    background-color: aquamarine;

    /* display: grid;
    grid-template-columns: 1fr 5fr; */

    height: 100%;
    padding: 1%;
}

.left-sidebar, .right-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.left-sidebar {
    border: 2px solid red;
    background-color: aqua;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    width: 5%;
    position: fixed;
    left: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;

    width: max-content;

    position: absolute;
    left: -10px;
    top: 100%;

    background-color: #7C7575;
    padding: 15%;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 #373737;

    opacity: 0;
    pointer-events: none;

    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

    z-index: 4;
}

.side-burger {
    cursor: pointer;
}





.right-main {
    border: 2px solid blue;
    background-color: blueviolet;

    /* gap: 5vw; */
    margin-left: 5%;
}

.project-card-holder {
    background-color: grey;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 15px;

    width: 100%;
    height: 60vh;
}

.p-card {
    border: 2px dashed yellowgreen;
    background-color: bisque;

    height: 100%;
    width: 25%;
}

.p-card-img {
    display: flex;
    justify-content: center;

    width: 100%;
}

.c-img {
    border-radius: 35px;

    margin: 2%;

    height: 230px;
    width: 95%;
}




.project-carousel-holder {
    border: 2px dashed orange;
    background-color: chocolate;
    width: 100%;
    height: 500px;
}





.project-reflection-holder {
    border: 2px dashed salmon;
    background-color: indianred;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-reflection, .right-reflection {
    padding: 5%;
}

.p-r-paragraph {
    text-align: justify;
    text-indent: 5%;
    padding: 2%;
}



@media (max-width: 500px) {
    /* make the sidebar become a top bar */
}