.middle-container {
    background-color: #4d4747;
    color: #dfd3d3;

    padding: 12.5vh 2% 2%;
}

.content-holder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* @keyframes header-ani {
    to {
      background-position: 200% center;
    }
} */

.intro-welcome {
    font-size: 4.5rem;
    /* background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: header-ani 4s ease-in-out infinite;
    display: inline-block; */
}

.i-w-span {
    font-style: italic;
    font-variant: small-caps;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid #dfd3d3;
    border-radius: 45px;
    box-shadow: -6px 6px 8px 2px #373737;

    background-color: #4d4747;

    width: 100%;
    height: 100%;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    height: max-content;

    gap: 2%;
}

#fst-card {
    grid-column: span 2;
    width: 100%;
}

.con-card {
    padding: 5%;
}

.fst-con {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    height: max-content;
}

.intro-title {
    width: 80%;
    padding: 5% 8% 15%;
}

.card-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.am-header {
    width: max-content;
}

.am-header a h3, .cm-header, .card-title a {
    font-weight: 600;
    color: #dfd3d3;
    text-decoration: none;
    font-size: 1.5rem;
}

.am-header a {
    text-decoration: none;
}

.card-title, .am-header a h3 {
    font-weight: 300;
    transition: 1s;
}

.card-title a {
    font-weight: 300;
}

.card-title a:hover, .am-header a h3:hover {
   font-weight: 600; 
}

.card-title:hover, .am-header a:hover h3 {
    transform: scale(1.2);
}

.card-description {
    text-align: justify;
    padding: 5%;
}

.snd-con {
    display: flex;
    flex-direction: column;
    padding: 5%;

    gap: 5vw;
}

.img-holder, .about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.rb-img {
    width: 85%;

    border-top-left-radius: 31%;
    border-top-right-radius: 215px;
    border-bottom-left-radius: 215px;
    border-bottom-right-radius: 31%;
}

.c-img {
    border-radius: 35px;

    margin: 2%;

    height: 230px;
    width: 90%;
}

.cm-header {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-input {
    background-color: #373737;
    border: 2px solid #dfd3d3;
    border-radius: 20px;

    color: #dfd3d3;
    font-size: 1rem;

    height: 2vw;
    padding: .4vw;
    margin-bottom: 5%;
}

.contact-form #message {
    height: 5.5vw;
    padding: .8vw;
}

.submit-holder {
    display: flex;
    justify-content: flex-end;
}

.sub-btn {
    width: 75px;
    height: 30px;

    border-radius: 20px;
    border: 2px solid #373737;

    color: #373737;

    background-color: #dfd3d3;
}

@media (max-width: 500px) {
    .content-holder {
        grid-template-columns: 1fr;
    }
    .fst-con {
        margin-bottom: 20%;
    }
    .card-holder {
        grid-template-columns: 1fr;
    }
    #fst-card {
        grid-column: span 1;
    }
    .post-card {
        width: 100%;
    }
    .intro-title {
        width: 100%;
        padding: 5% 2% 15%;
    }
    .intro-welcome {
        font-size: 2rem;
    }
    .contact-me {
        margin-top: 10vw;
    }
    .contact-form .form-input {
        font-size: 1rem;

        height: 8vw;
        padding: 2vw;
    }
    .contact-form #message {
        height: 33vw;
        padding: 3vw;
    }
}