.cite-holder {
    margin-top: 1vw;
    padding: 1% 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    text-indent: 0;
    word-wrap: break-word;
    text-align: left;
}

.cite-holder p {
    padding-left: 22px;
    text-indent: -22px;
}

.works-cited {
    font-size: 2rem;
    text-align: center;
}

.w-cite a {
    word-break: break-all;
    overflow-wrap: break-word;
}

.invention-holder {
    border: 5px outset #4d47479c;
    border-radius: 20%;
    box-shadow: 0px 0px 20px 2px #5a5555;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 2%;
    text-indent: 0;
}

.invention-header {
    font-size: 2rem;
}

.i-h-imgs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2%;
    margin-top: 2%;
}

.invention-fig {
    background-color: #7C7575;
    color: #FBF0F0;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: auto;

    margin: 1%;

    transition: 1s;
}

.invention-fig:hover {
    transform: scale(1.5);
    z-index: 10;    
}

.short-img:hover {
    transform: scale(1.1);
}

.invention-img {
    height: 55vh;
    min-width: 250px;
    min-height: 400px;
    border: 2px solid #4d47479c;
    border-radius: 16%;
}

.i-img-caption {
    padding: 2%;
}

@media (max-width: 800px) {
    .invention-holder {
        border-radius: 20px;
    }
    .invention-img {
        height: 100px;
        width: 100px;
    }
    .invention-fig {
        border-radius: 10px;
    }
    .invention-fig:hover {
        transform: scale(1.1);
    }
}