/* WORK CITED STYLES */
.cite-holder {
    margin-top: 1vw;
    padding: 1% 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    text-indent: 0;
    word-wrap: break-word;
    text-align: left;
}

.cite-holder p {
    padding-left: 22px;
    text-indent: -2rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.works-cited {
    font-size: 2rem;
    text-align: center;
}

.w-cite a {
    word-break: break-all;
    overflow-wrap: break-word;
}

/* INVENTION TECHNIQUES STYLES */
.invention-header {
    font-size: 2rem;
}

.i-h-imgs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2%;
    margin-top: 2%;
}

.invention-fig {
    color: #7C7575;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    height: auto;

    margin: 1%;

    transition: 1s;
}

.invention-fig:hover {
    transform: scale(1.1);
}

.invention-img {
    width: 30vw;
    border: 2px solid #4d47479c;
}

.i-img-caption {
    padding: 2%;
    text-indent: 0;
    text-align: center;
}

@media (max-width: 800px) {
    .invention-holder {
        border-radius: 20px;
    }
    .invention-fig {
        border-radius: 10px;
    }
    .invention-fig:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 450px) {
    .invention-img {
        width: 12rem;
    }
}